.navbar {
  background-color: #fff;
  color: #5c6f82;
  padding: 1rem;
  border-bottom: 1px solid #e3e7eb;
}

.navbar a {
  color: #5c6f82;
  margin: 1rem;
  text-decoration: none;
}

.navbar img {
  margin-right: 1rem;
}
